
 <link rel="stylesheet" href="/css/user_profile.css">
 <script src="https://kit.fontawesome.com/30de5c5648.js" crossorigin="anonymous"></script>
<img src="<%=user.avatar%>" alt="<%=user.name%>" width="100">

        <h1>ur in</h1>
        <!-- //we have created locals -->
       <!-- <%=locals.user%> -->
       <%=profile_user%>
        
       <%if(user.id == profile_user.id){%>
              <h1>Name: <%= profile_user.name%></h1>
              <h1>Email:<%= profile_user.email%></h1>
              <form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="POST">
                     <input type="text" name="name" id="" value="<%=profile_user.name%>" placeholder="name to be update" required>
                     <input type="email" name="email" id="" value="<%=profile_user.email%>" placeholder="enter ur updated email" required>
                     <input type="file" name="avatar" id="" placeholder="profile pic">
                     <input type="submit" value="update">
              </form>
       <%}else{%>
              <h1>Name: <%= profile_user.name%></h1>
              <h1>Email:<%= profile_user.email%></h1>
       <%}%> 

        <h1>welcome</h1>


  